---
import PreviewImage from "./PreviewImage.astro";
import TagsList from "./TagsList.astro";
const { post, index } = Astro.props;

/* const sizes = [
  "(min-width: 1280px) 772px, (min-width: 740px) calc(59.42vw + 23px), (min-width: 540px) 99.44vw, 92.73vw",
  "(min-width: 1280px) 562px, (min-width: 640px) 43.55vw, (min-width: 540px) 98.75vw, 92.73vw",
  "(min-width: 1280px) 370px, (min-width: 960px) calc(26.33vw + 38px), (min-width: 640px) calc(49.67vw - 26px), (min-width: 540px) 98.75vw, 92.73vw",
];

const getSize = (index) => {
  if (index === 0) return sizes[0];
  if (index === 1 || index === 2) return sizes[1];
  return sizes[2];
};

const widths = [
  [290, 7724, 996, 1300, 1544, 1810, 2048],
  [672, 1124, 1430, 1686],
  [370, 740, 1110],
];

const getWidths = (index) => {
  if (index === 0) return widths[0];
  if (index === 1 || index === 2) return widths[1];
  return widths[2];
}; */
---

<article>
  <a href={`/${post.data.permalink}`}>
    <PreviewImage image={post.data.preview} alt={post.data.title} />
    <div class="tagslist">
      <TagsList tags={post.data.tags} isLink={false} />
    </div>
    <h3>{post.data.title}</h3>
    <p>{post.data.description}</p>
    <div class="meta">
      <time datetime={post.data.date.toISOString()}>
        {post.data.date.toLocaleDateString()}
      </time>
    </div>
  </a>
</article>

<style>
  .tagslist {
    grid-area: tags;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover h3 {
    text-decoration: underline;
  }

  @container (min-width: 700px) {
    a {
      display: grid;
      gap: 0 var(--space-m);
      align-items: start;
      grid-template-columns: 2.1fr 1fr;
      grid-template-rows: repeat(3, min-content) 1fr;
      grid-template-areas:
        "img tags"
        "img title"
        "img excerpt"
        "img meta";
    }
  }

  h3 {
    font-size: var(--step-2);
    font-weight: 400;
    margin-bottom: var(--space-xs);
    grid-area: title;
  }

  p {
    margin-bottom: var(--space-s);
    grid-area: excerpt;
  }

  .meta {
    color: var(--color-grey);
    font-size: var(--step--1);
    grid-area: meta;
  }
</style>
