---
import { Image } from "astro:assets";
import TagsList from "./TagsList.astro";
const { post } = Astro.props;

const images = import.meta.glob("/src/images/posts/*/*/*.{jpeg,jpg,png,gif}");
---

<article>
  <a href={post.data.permalink}>
    <Image
      src={images[post.data.preview]()}
      widths={[300, 500, 750, 1000]}
      sizes="33vw"
      alt={post.data.title}
    />

    <TagsList tags={post.data.tags} />

    <h3>{post.data.title}</h3>

    <p>{post.data.description}</p>

    <div class="meta">
      <time datetime={post.date}>
        {post.date}
      </time>
    </div>
  </a>
</article>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover h3 {
    text-decoration: underline;
  }

  @container (min-width: 700px) {
    a {
      display: grid;
      gap: 0 var(--space-m);
      align-items: start;
      grid-template-columns: 2.1fr 1fr;
      grid-template-rows: repeat(3, min-content) 1fr;
      grid-template-areas:
        "img tags"
        "img title"
        "img excerpt"
        "img meta";
    }
  }

  img {
    margin-bottom: var(--space-xs);
    grid-area: img;
    aspect-ratio: 16/8;
    object-fit: cover;
  }

  h3 {
    font-size: var(--step-2);
    font-weight: 400;
    margin-bottom: var(--space-xs);
    grid-area: title;
  }

  p {
    margin-bottom: var(--space-s);
    grid-area: excerpt;
  }

  .meta {
    color: var(--color-grey);
    font-size: var(--step--1);
    grid-area: meta;
  }
</style>
